@import "tailwindcss";

#root {
  max-width: 1350px;
  margin: 0 auto;
}
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-gravitas: "Gravitas One", cursive;
  --font-zalando-expanded: "Zalando Sans Expanded", sans-serif;
  --color-custom-grey: #EEEEEE;
}

